<div style="text-align:center; margin-bottom: 5px; padding-top: 5px; background-color: white;">
  <img width="300" alt="Angular Logo" src="../../assets/images/logo.png">
</div>
<div style="text-align: center; background-color:#ff5c5e; color:white;">
    <label style="margin-top: 10px;">Let us vote and elect our leader</label>
</div>