<div class="container" style="padding-bottom: 10px; background-color:#9d2235; color: white; padding-top : 10px;"></div>
<div class="depart" style="text-align:center">
    <div  *ngFor="let depart of departments">
    <button type="button" class="btn" style="background-color:#ff5c5e;; color: white;margin-top: 5px" (click)="departments()">{{depart}}</button>
</div>
</div>
