<div >
    <div  *ngIf='!isLogin' style="border: 2px solid #ccc; vertical-align: middle; text-align: center; background-color:#9d2235; color:white; margin-top: 5px; margin-bottom: 10px;">
        <img src='{{candidate.profile}}' style="height: 285px; width: 285px; border: 2px solid #ccc; margin-top:5px; margin-bottom: 10px;"/>
        <h5>{{candidate.id}}</h5>
        <h5>{{candidate.name}}</h5>
        <h5>{{candidate.course}}</h5>
    
        <div class="col-xs-1 col-sm-1"></div>
        <div class="col-xs-10 col-md-12 col-sm-10" style="text-align: left; background-color:#9d2235; color: white; margin-bottom:20px;">
            <p>{{candidate.moto}}</p>
            <button type="button" class="btn" style="background-color:#ff5c5e; color: white; margin-right:15px;" (click)="back()">Back</button>
            <button type="button" class="btn" style=" float: right; background-color:#ff5c5e; color: white" (click)="Vote()">Vote</button>
        </div>
        
        <div class="col-xs-1 col-sm-1">
        </div>
    </div>
    <div  style="background-color:#9d2235; color: white"  *ngIf='isLogin'>
        <app-login-options [(isOptions)]='isLogin'  *ngIf='isLogin'></app-login-options>
    </div>
</div>