<div  *ngIf='!doneVoting' class="container" style="padding-bottom: 10px; background-color:#9d2235; color: white; padding-top : 10px;">
  <div *ngIf='!isOTP'>
    <div style="text-align: center;">
      <label *ngIf='isInvalid'>Invalid Datails</label>
      <h4>Login</h4>
    </div>
    <div class="m-3">
      <h5 style="float:left;">Username</h5>
      <input type="text" class="col-xs-11 col-sm-11 col-md-12" id="formGroupExampleInput" [(ngModel)]='obj.uname' placeholder="Username">
    </div>
    <div class="m-3">
      <h5 style="float:left;">Password</h5>
      <input type="password" class="col-xs-11 col-sm-11 col-md-12" id="formGroupExampleInput2" [(ngModel)]="obj.password" placeholder="Password">
    </div>
    <div class="m-3">
      <button type="button" class="btn" style="background-color:#ff5c5e; color: white; margin-right : 15px;" (click)="back()">Back</button>
      <button type="button" class="btn" style="background-color:#ff5c5e; color: white;" (click)="showOTP()">Login</button>
    </div>
  </div>
  <div class="m-3" *ngIf='isOTP'>
    <h5 style="float: left; margin-top:100px; text-align:left;">Please enter the security code that has been sent to your mobile number</h5>
    <h5 style="float: left;">Please enter OTP</h5>
    <input type="password" class="col-xs-11 col-sm-11 col-md-12" id="formGroupExampleInput3" [(ngModel)]="obj.otp" placeholder="Enter OTP">
    <div>
      <button type="button" class="btn" style="background-color:#ff5c5e; color: white; margin: 5px;" (click)="verifyOTP()">submit</button>
    </div>
  </div> 
</div>
<div *ngIf='doneVoting' style="text-align: center; margin-top: 15px">
    <i class="fa fa-thumbs-up fa-5x" aria-hidden="true"></i>
    <h2>Vote submitted successfully</h2>
    <button type="button" class="btn" style="background-color:#ff5c5e; color: white;" (click)="processCompleted()">OK</button>
</div>
<!-- <app-dashboard *ngIf='toHome'></app-dashboard> -->
<!-- <app-root ></app-root> -->
