<div *ngIf="!isSelected">
    <table style="width:100%; margin-top:5px; margin-bottom:15px;">
      <tr>
        <th colspan="2">
          <button type="button" class="btn" style="margin-bottom: 5px; margin-top: 5px; background-color:#ff5c5e; color: white; float: right;" (click)="back()">Back</button>

        </th>
      </tr>
      <tr>
          <th colspan="2" style="color:white;"><h3>Candidate List</h3></th>
      </tr>
        <tr  style="border:1px solid black" *ngFor="let candidate of candidateList">
          <th  *ngIf='candidate.campus==campus' style="width: 25%; background-color:#9d2235;"><img src='{{candidate.profile}}' style="height: 100px; width: 100px; border: 2px solid #ccc;"/></th>
          <th  *ngIf='candidate.campus==campus' style="width:75%; background-color:#9d2235; color:white;">
            <h5 (click)="onSelect(candidate)" style="cursor:pointer;">{{candidate.name}}</h5>
            </th>
        </tr>
      </table>
</div>
<app-candidate [(isSelected)]='isSelected' [(selectedCandidate)]='selectedCandidate' *ngIf='isSelected'></app-candidate>
