<div style="text-align: center; background-color:#9d2235; color: white">
  <div *ngIf='!isLogin'>
    <img style="height:100px; width:100px; border-radius: 50%;" alt="Angular Logo" src="../../assets/images/thumb.jpg">
    <h5>OR</h5>
    <div style="text-align: center; padding-bottom: 10px;">
      <button type="button" class="btn" style="background-color:#ff5c5e; color: white; margin-right:15px;" (click)="back()">Back</button>
      <button type="button" class="btn" style="background-color:#ff5c5e; color: white" (click)="Login()">Login</button>
    </div>
  </div>
  <div *ngIf='isLogin'>
    <app-login [(isLogin)]='isLogin' *ngIf='isLogin'></app-login>
  </div>
</div>