<div *ngIf='!isCandidateList' class="col-md-12 col-xs-10 col-sm-10" style="text-align: right;" >
        <button type="button" class="btn" style="margin-bottom: 5px; margin-top: 5px; background-color:#ff5c5e; color: white;" (click)="back()">Back</button>
</div>
<div *ngIf='!isCandidateList' class="container" style="padding-bottom: 10px; background-color:#9d2235; color: white; padding-top : 10px;">
    
    <h3>Campuses</h3>
    <div class="camp" style="text-align:center">
        <div  *ngFor="let camp of campus">
            <button type="button" class="btn btn-lg btn-block" style="background-color:#ff5c5e;; color: white;margin-top: 15px" (click)="selectCampus(camp)">{{camp}}</button>
        </div>
    </div>
</div>
<app-candidates-list [(selectedCampus)]='selectedCampus' [(isCandidates)]='isCandidateList' *ngIf='isCandidateList'></app-candidates-list>
