<!--The content below is only a placeholder and can be replaced.-->
<div style="background-color: white">
  <app-header></app-header>
</div>
<div class="col-sm-12 col-xs-12">
    <div style="background-color: #9d2235; margin-bottom: 10px;" *ngIf='!startedVoting&&!isAdminLogin'>
      <app-dashboard></app-dashboard>
      <div class="m-3">
        <button type="button" class="btn" style="background-color:#ff5c5e; color: white; float: left; margin-bottom: 10px;" (click)="loginAsAdmin()">Admin Login</button>
        <button type="button" class="btn" style="background-color:#ff5c5e; color:white; float: right; margin-bottom: 10px;" (click)="chooseVoting()">Let us vote</button>
      </div>
    </div>
    <div style="text-align: center"  *ngIf='startedVoting&&!isAdminLogin'> 
      <app-campus [(isCampus)]='startedVoting' *ngIf='startedVoting'></app-campus>
      
    </div>
    <div style="text-align: center"  *ngIf='!startedVoting&&isAdminLogin'> 
      <app-adminlogin [(isAdmin)]='isAdminLogin' *ngIf='isAdminLogin'></app-adminlogin>
    </div>
</div>

<!-- <app-login></app-login> -->