<div>
    <table style="width:100%;">
        <tr>
          <th colspan="2">
            <button type="button" class="btn" style="margin-top:5px;margin-bottom: 5px; background-color:#ff5c5e; color: white; float: left;" (click)="export()">Export</button>
            <button type="button" class="btn" style="margin-top:5px;margin-bottom: 5px; background-color:#ff5c5e; color: white; float: right;" (click)="logout()">Logout</button>
          </th>
        </tr>
        <tr>
          <th colspan="2" style="color:white;"><h3>Candidate List</h3></th>
        </tr>
        <tr style="border:1px solid black;">
          <th style="color:white;"><h4>Candidate</h4></th>
          <th style="color:white;"><h4>Count</h4></th>
        </tr>
          <tr  style="border:1px solid black" *ngFor="let candidate of candidateList">
            <th style="width:50%; background-color:#9d2235; color:white;">
              <h5>{{candidate.name}}</h5>
            </th>
            <th  style="width: 25%; background-color:#9d2235; color: white">
              <h5>{{candidate.count}}</h5>
            </th>
          </tr>
        </table>
</div>
