<div class="col-xs-10 col-md-12 col-sm-10" style="background-color: #9d2235; color:white;">
  <p>Western Sydney university is one of the top 20 universities in Australia. It has 10 campus all around New South Wales. Student is the major part in developing and improving the university.</p>
  <p>This app helps you in knowing the person details and casting the vote.Just login with your western Sydney university details here and cast you VOTE.</p>
  <p>Details about previous representative Nithin Jain is in his third semester who is studying master in business administration. Nithin was all into improving the lifestyle of students by suggesting them to join certain group or clubs inside university like sports club,music club and social club which will help to have new friends.Thanks for his service and helping students to over come their problems for the year 2017.</p>
  <p>Wish him all the best with his life and hope he has a successful journey ahead.</p>
</div>