<div class="container" *ngIf='!isAdminDashboard' style="padding-bottom: 10px; background-color:#9d2235; color: white; padding-top : 10px;">
  <div class="m-3">
    <label *ngIf='isInvalid'>Invalid Datails</label>
    <h2 style="text-align:center;">Admin Login</h2>
    </div>
  <div class="m-3">
    <h5 style="float:left;">Username</h5>
    <input type="text" class="col-xs-11 col-sm-11 col-md-12" id="formGroupExampleInput" [(ngModel)]='obj.uname' placeholder="Username">
  </div>
  <div class="m-3">
    <h5 style="float:left;">Password</h5>
    <input type="password" class="col-xs-11 col-sm-11 col-md-12" id="formGroupExampleInput2" [(ngModel)]="obj.password" placeholder="Password">
  </div>
  <div class="m-3">
      <button type="button" class="btn" style="background-color:#ff5c5e; color: white; margin-right : 15px;" (click)="back()">Back</button>
      <button type="button" class="btn" style="background-color:#ff5c5e; color: white;" (click)="login()">Login</button>
  </div>
</div>
<app-admin-dashboard *ngIf='isAdminDashboard'></app-admin-dashboard>